@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Text */
        /* Primary */
    --text-dark-blue: hsl(238, 29%, 16%);
    --text-soft-red: hsl(14, 88%, 65%);
        /* Neutral */
    --text-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --text-dark-grayish-blue: hsl(240, 6%, 50%);
    /* Background Gradient */
    --background-soft-violet: hsl(273, 75%, 66%);
    --background-soft-blue: hsl(240, 73%, 65%);
    /* Divider */
    --divider-light-grayish-blue: hsl(240, 5%, 91%);
    /* Font */
    --font-size: 12px;
    --font: 'Kumbh Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    /* Changed the root font-size to 10px to make the
    mental conversion of the font size easier when
    using rem */
}

html, body {
    /* Dont change width to 100vw when the default auto is better */
    font-family: var(--font);
    background-image: linear-gradient(var(--background-soft-violet), var(--background-soft-blue));
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    background: white;
    border-radius: 25px;
    width: 900px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.card > * {
    width: 50%;
    height: 100%;
}

.pictures {
    position: relative;
    height: 100%;
}

.picture-1 {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.woman {
    position: relative;
    right: 80px;
    top: 70px;
}

.box {
    position: absolute;
    top: 41%;
    left: -20.7%;
}

/* FAQ Section */

.faq {
    font-size: 15px;
    font-weight: 700;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collapsible {
    cursor: pointer;
    border: none;
    text-align: left;
    background-color: white;
    border-bottom: 1px solid var(--text-dark-grayish-blue);
    padding-bottom: 5px;
}

.faq-content {
    display: none;
    overflow: hidden;
}

.collapsible:after {
    content: url(../images/icon-arrow-down.svg);
    float: right;
    margin-left: 5px;
  }
  
.collapsible.active:after {
    content: url(../images/icon-arrow-down.svg);
    transform: rotate(180deg);
}



/* .card .picture .box {
    position: relative;
    bottom: 150px;
    right: 90px;
} */
/* img {
    filter: drop-shadow(30px 70px 2px var(--divider-light-grayish-blue));
} */

